# Core ML
torch==2.3.1
torchvision==0.18.1
numpy==1.26.4
pillow==11.2.1
scikit-learn==1.6.1

# Computer Vision
opencv-python==4.11.0.86
grad-cam==1.5.5

# Visualization
matplotlib==3.10.3
seaborn==0.13.2

# Model Export
onnx==1.18.0
onnxruntime==1.22.0

# Training & Evaluation
optuna==3.5.0
tqdm==4.67.1
pandas==2.2.3

# Utilities
PyYAML==6.0.2
coloredlogs==15.0.1

# Testing
pytest==8.4.0
pytest-cov==6.1.1
